WebDocuments/Service References/ServiceSolicitud/SolicitudService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eDocuments.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BESolicitud">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="cod_documento" type="xs:int" />
          <xs:element minOccurs="0" name="cod_estado" type="xs:int" />
          <xs:element minOccurs="0" name="cod_solicitud" type="xs:int" />
          <xs:element minOccurs="0" name="gls_solicitud" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BESolicitud" nillable="true" type="tns:BESolicitud" />
  <xs:complexType name="Auditoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="aud_fec_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aud_fec_modificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aud_usr_ingreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aud_usr_modificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_estado_registro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auditoria" nillable="true" type="tns:Auditoria" />
  <xs:complexType name="BESeguimientoSolicitud">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="cod_estado" type="xs:int" />
          <xs:element minOccurs="0" name="cod_seguimiento" type="xs:int" />
          <xs:element minOccurs="0" name="cod_solicitud" type="xs:int" />
          <xs:element minOccurs="0" name="gls_observacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BESeguimientoSolicitud" nillable="true" type="tns:BESeguimientoSolicitud" />
</xs:schema>