WebDocuments/Service References/ServiceSolicitud/SolicitudService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SolicitudService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2017/SolicitudService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2017/SolicitudService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2017/SolicitudService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolicitudService_RegistrarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_RegistrarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_ModificarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_ModificarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_ObtenerSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_ObtenerSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_EliminarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_EliminarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_RegistrarSeguimientoSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSeguimientoSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_RegistrarSeguimientoSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSeguimientoSolicitudResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolicitudService">
    <wsdl:operation name="RegistrarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudService/RegistrarSolicitud" message="tns:ISolicitudService_RegistrarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudService/RegistrarSolicitudResponse" message="tns:ISolicitudService_RegistrarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudService/ModificarSolicitud" message="tns:ISolicitudService_ModificarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudService/ModificarSolicitudResponse" message="tns:ISolicitudService_ModificarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudService/ObtenerSolicitud" message="tns:ISolicitudService_ObtenerSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudService/ObtenerSolicitudResponse" message="tns:ISolicitudService_ObtenerSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudService/EliminarSolicitud" message="tns:ISolicitudService_EliminarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudService/EliminarSolicitudResponse" message="tns:ISolicitudService_EliminarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarSeguimientoSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudService/RegistrarSeguimientoSolicitud" message="tns:ISolicitudService_RegistrarSeguimientoSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudService/RegistrarSeguimientoSolicitudResponse" message="tns:ISolicitudService_RegistrarSeguimientoSolicitud_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolicitudService" type="tns:ISolicitudService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudService/RegistrarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudService/ModificarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudService/ObtenerSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudService/EliminarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSeguimientoSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudService/RegistrarSeguimientoSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolicitudService">
    <wsdl:port name="BasicHttpBinding_ISolicitudService" binding="tns:BasicHttpBinding_ISolicitudService">
      <soap:address location="http://localhost:2017/SolicitudService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>