WebDocuments/Service References/ServiceDocumento/DocumentoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2017/DocumentoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" />
  <xs:element name="RegistrarCarpeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q1:BECarpeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCarpetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarCarpetaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCarpeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q2:BECarpeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCarpetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCarpetaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCarpeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q3:BECarpeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCarpetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarCarpetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCarpetaGestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q4:BECarpeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCarpetaGestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarCarpetaGestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCarpeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_carpeta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCarpetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ObtenerCarpetaResult" nillable="true" type="q5:BECarpeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q6:BEDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarDocumentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q7:BEDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarDocumentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarNombreArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="descripcionDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaVigencia" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usuarioModificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarNombreArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarNombreArchivoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_documento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ObtenerDocumentoResult" nillable="true" type="q8:BEDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentoDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_documento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentoDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ObtenerDocumentoDownloadResult" nillable="true" type="q9:BEDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oBusqueda" nillable="true" type="q10:BEDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarDocumentoResult" nillable="true" type="q11:ArrayOfBEDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumentoPorCarpeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_carpeta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumentoPorCarpetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarDocumentoPorCarpetaResult" nillable="true" type="q12:ArrayOfBEDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumentoPorCarpetaSegunUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_carpeta" type="xs:int" />
        <xs:element minOccurs="0" name="cod_usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumentoPorCarpetaSegunUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarDocumentoPorCarpetaSegunUsuarioResult" nillable="true" type="q13:ArrayOfBEDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumentoPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumentoPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarDocumentoPorUsuarioResult" nillable="true" type="q14:ArrayOfBEDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombreArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_documento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombreArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNombreArchivoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_documento" type="xs:int" />
        <xs:element minOccurs="0" name="cod_usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDocumentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>