WebDocuments/Service References/ServiceGeneral/GeneralService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eDocuments.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEArea" nillable="true" type="tns:BEArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEArea" nillable="true" type="tns:ArrayOfBEArea" />
  <xs:complexType name="BEArea">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="cod_area" type="xs:int" />
          <xs:element minOccurs="0" name="gls_area" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEArea" nillable="true" type="tns:BEArea" />
  <xs:complexType name="Auditoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="aud_fec_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aud_fec_modificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aud_usr_ingreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aud_usr_modificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_estado_registro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auditoria" nillable="true" type="tns:Auditoria" />
  <xs:complexType name="ArrayOfBERol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BERol" nillable="true" type="tns:BERol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBERol" nillable="true" type="tns:ArrayOfBERol" />
  <xs:complexType name="BERol">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="cod_rol" type="xs:int" />
          <xs:element minOccurs="0" name="gls_rol" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BERol" nillable="true" type="tns:BERol" />
  <xs:complexType name="ArrayOfBETipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETipoDocumento" nillable="true" type="tns:BETipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETipoDocumento" nillable="true" type="tns:ArrayOfBETipoDocumento" />
  <xs:complexType name="BETipoDocumento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="cod_tipo_documento" type="xs:int" />
          <xs:element minOccurs="0" name="gls_tipo_documento" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BETipoDocumento" nillable="true" type="tns:BETipoDocumento" />
  <xs:complexType name="ArrayOfBEEstado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEEstado" nillable="true" type="tns:BEEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEEstado" nillable="true" type="tns:ArrayOfBEEstado" />
  <xs:complexType name="BEEstado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="cod_estado" type="xs:int" />
          <xs:element minOccurs="0" name="gls_estado" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEEstado" nillable="true" type="tns:BEEstado" />
</xs:schema>