WebDocuments/Service References/ServiceGeneral/GeneralService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeneralService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2017/GeneralService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2017/GeneralService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2017/GeneralService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneralService_ListarArea_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarArea" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_ListarArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_ListarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRol" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_ListarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRolResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_ListarTipoDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoDocumento" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_ListarTipoDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_ListarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEstado" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_ListarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEstadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneralService">
    <wsdl:operation name="ListarArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/ListarArea" message="tns:IGeneralService_ListarArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/ListarAreaResponse" message="tns:IGeneralService_ListarArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/ListarRol" message="tns:IGeneralService_ListarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/ListarRolResponse" message="tns:IGeneralService_ListarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTipoDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/ListarTipoDocumento" message="tns:IGeneralService_ListarTipoDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/ListarTipoDocumentoResponse" message="tns:IGeneralService_ListarTipoDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/ListarEstado" message="tns:IGeneralService_ListarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/ListarEstadoResponse" message="tns:IGeneralService_ListarEstado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeneralService" type="tns:IGeneralService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarArea">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/ListarArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRol">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/ListarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoDocumento">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/ListarTipoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEstado">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/ListarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneralService">
    <wsdl:port name="BasicHttpBinding_IGeneralService" binding="tns:BasicHttpBinding_IGeneralService">
      <soap:address location="http://localhost:2017/GeneralService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>