WebDocuments/Service References/ServiceGeneral/GeneralService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2017/GeneralService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" />
  <xs:element name="ListarArea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarAreaResult" nillable="true" type="q1:ArrayOfBEArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarRolResult" nillable="true" type="q2:ArrayOfBERol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDocumento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarTipoDocumentoResult" nillable="true" type="q3:ArrayOfBETipoDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEstado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarEstadoResult" nillable="true" type="q4:ArrayOfBEEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>