WebDocuments/Service References/ServicePropietario/PropietarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PropietarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2017/PropietarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2017/PropietarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2017/PropietarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPropietarioService_ListarPropietario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPropietario" />
  </wsdl:message>
  <wsdl:message name="IPropietarioService_ListarPropietario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPropietarioResponse" />
  </wsdl:message>
  <wsdl:message name="IPropietarioService_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="IPropietarioService_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="IPropietarioService_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IPropietarioService_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IPropietarioService_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IPropietarioService_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IPropietarioService">
    <wsdl:operation name="ListarPropietario">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropietarioService/ListarPropietario" message="tns:IPropietarioService_ListarPropietario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropietarioService/ListarPropietarioResponse" message="tns:IPropietarioService_ListarPropietario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropietarioService/Registrar" message="tns:IPropietarioService_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropietarioService/RegistrarResponse" message="tns:IPropietarioService_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropietarioService/Actualizar" message="tns:IPropietarioService_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropietarioService/ActualizarResponse" message="tns:IPropietarioService_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropietarioService/Eliminar" message="tns:IPropietarioService_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropietarioService/EliminarResponse" message="tns:IPropietarioService_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPropietarioService" type="tns:IPropietarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarPropietario">
      <soap:operation soapAction="http://tempuri.org/IPropietarioService/ListarPropietario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://tempuri.org/IPropietarioService/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IPropietarioService/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IPropietarioService/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PropietarioService">
    <wsdl:port name="BasicHttpBinding_IPropietarioService" binding="tns:BasicHttpBinding_IPropietarioService">
      <soap:address location="http://localhost:2017/PropietarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>