WebDocuments/Service References/ServicePerfil/PerfilService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eDocuments.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPerfil" nillable="true" type="tns:BEPerfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPerfil" nillable="true" type="tns:ArrayOfBEPerfil" />
  <xs:complexType name="BEPerfil">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="cod_perfil" type="xs:int" />
          <xs:element minOccurs="0" name="gls_perfil" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEPerfil" nillable="true" type="tns:BEPerfil" />
  <xs:complexType name="Auditoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="aud_fec_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aud_fec_modificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aud_usr_ingreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aud_usr_modificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_estado_registro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auditoria" nillable="true" type="tns:Auditoria" />
  <xs:complexType name="BEPerfilDocumento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="cod_documento" type="xs:int" />
          <xs:element minOccurs="0" name="cod_perfil" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEPerfilDocumento" nillable="true" type="tns:BEPerfilDocumento" />
  <xs:complexType name="ArrayOfBEPerfilUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPerfilUsuario" nillable="true" type="tns:BEPerfilUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPerfilUsuario" nillable="true" type="tns:ArrayOfBEPerfilUsuario" />
  <xs:complexType name="BEPerfilUsuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="cod_perfil" type="xs:int" />
          <xs:element minOccurs="0" name="cod_usuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gls_perfil" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEPerfilUsuario" nillable="true" type="tns:BEPerfilUsuario" />
</xs:schema>