WebDocuments/Service References/ServicePerfil/PerfilService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2017/PerfilService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" />
  <xs:element name="ListarPerfil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarPerfilResult" nillable="true" type="q1:ArrayOfBEPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q2:BEPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q3:BEPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q4:BEPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesSinAsignar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesSinAsignarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="GetPerfilesSinAsignarResult" nillable="true" type="q5:ArrayOfBEPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesAsignados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesAsignadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="GetPerfilesAsignadosResult" nillable="true" type="q6:ArrayOfBEPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesSinAsignarDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesSinAsignarDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="GetPerfilesSinAsignarDocResult" nillable="true" type="q7:ArrayOfBEPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesAsignadosDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesAsignadosDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="GetPerfilesAsignadosDocResult" nillable="true" type="q8:ArrayOfBEPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPerfilDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q9:BEPerfilDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPerfilDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarPerfilDocumentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPerfilDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q10:BEPerfilDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPerfilDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPerfilDocumentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPerfilUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPerfilUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="ListarPerfilUsuarioResult" nillable="true" type="q11:ArrayOfBEPerfilUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPerfilUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q12:BEPerfilUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPerfilUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarPerfilUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPerfilUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/eDocuments.Entities" minOccurs="0" name="oParametro" nillable="true" type="q13:BEPerfilUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPerfilUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPerfilUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>