WebDocuments/Service References/ServiceUsuario/UsuarioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eDocuments.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eDocuments.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BEUsuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="ape_materno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ape_paterno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cod_area" type="xs:int" />
          <xs:element minOccurs="0" name="cod_rol" type="xs:int" />
          <xs:element minOccurs="0" name="cod_usuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gls_area" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gls_rol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEUsuario" nillable="true" type="tns:BEUsuario" />
  <xs:complexType name="Auditoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="aud_fec_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aud_fec_modificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aud_usr_ingreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aud_usr_modificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_estado_registro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auditoria" nillable="true" type="tns:Auditoria" />
</xs:schema>